/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  
}
h2{
    height: 48px; 
    width: 303px; 
    color: #003366; 
    font-family: "Helvetica Neue";  
    font-size: 40px;  
    font-weight: bold;  
    line-height: 49px;  
    text-align: center;

}
.featured-collection p{
	height: 79px;	
	width: 611px;	
	color: #9B9B9B;	
	font-family: "Helvetica Neue";	
	font-size: 18px;	
	font-weight: 300;	
	line-height: 26px;	
	text-align: center;
}
