.featured-collection h2{
    height: 48px; 
    width: 303px; 
    color: #003366; 
    font-family: "Helvetica Neue";  
    font-size: 40px;  
    font-weight: bold;  
    line-height: 49px;  
    text-align: center;

}